/* 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-fluid{

    width: 100%;
    float:left ;
}

.container{

    width: 1200px;
    margin: auto;

}

.row{

    width: 100%;
    display: flex;
}

.col{

    width: 100%;
    float: left;
}
 */

/* :start */

.menu-bar {

    height: 600px;
    width: 20%;
    margin-top: 5px
}

.nav-color {

    background-color: transparent;

}

.nav-color:hover {

    background-color: #f7f4e5;
    transition: 0.4s ease;
}


a {

    text-decoration: none;
    color: inherit;
}

.nav-link {

    text-decoration: none;
    color: inherit;
}

.logoimg {
    height: 70px;
    width: 90px;

}

.logoimg:hover {

    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
    transform: scale(1.05);
}

.bt-book {

    background-color: #ad2132;

    color: white;
    border: 0;
    padding: 10px 30px 10px 30px;

}


.d1 {

    position: absolute;
    left: 280%;

}


.cn1 {

    position: relative;

    background-image: url("/aseets/images/ht-img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    background-position: center;

    height: 100vh;


}

.cn2 {

    position: absolute;
    left: 8.5%;
    bottom: 4%;


}


.booking-bar {
    background: rgba(169, 165, 152, 0.208);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    padding: 15px;


}

.booking-item {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
       padding-right :10px;

}

.logoimg2 {


    height: 28px;
    width: 29px;

}

.booking-list {
    
    padding: 10px 5px;
    border: none;
    background: transparent;
    font-size: 15px;
    color: #e9e2e2;
    /* black text */
    outline: none;
    font-weight: 600;
     padding-right :90px;



}

.booking-list-2 {
    padding: 10px 5px;
    border: none;
    background: transparent;
    font-size: 15px;
    color: #e9e2e2;
    /* black text */
    outline: none;
    font-weight: 600;
     padding-right :90px;
    
}

.booking-list-3 {
    padding: 10px 5px;
    border: none;
    background: transparent;
    font-size: 15px;
    color: #e9e2e2;
    /* black text */
    outline: none;
    font-weight: 600;
     padding-right :90px;
}

.booking-list-4 {
    padding: 10px 10px;
    border: none;
    background: transparent;
    font-size: 15px;
    color: #e9e2e2;
    /* black text */
    outline: none;
    font-weight: 600;
     padding-right :60px;
}


.book-btn {
    padding: 10px 46px;
    border-radius: 6px;
    border: 0;
    background-color: #817064c6;
    color: #e9e2e2;

}

.list-box-2 {

}

.list-box-1 {
   display: flex;
   
}


.logo2 {


  


}

.icon1 {

  
  
}

.list-box-3 {
  

}

.icon2 {

   
 
}



     /* responisve */

@media only screen and (max-width:768px) {
    .logoimg {
        width: 60px;
        height: auto;
        /* margin-left: 60px; */
    }

    .cn1 {

        height: 90vh;
    }

    .bt-book {

        padding: 5px 10px;
        height: auto;
    }

    .signup {
        width: 30px;
        height: auto;

    }

     /* booking bar */
    .cn2 {

        position: absolute;
        height: auto;
        width: 90%;
        top: 85%;
        display: flex;
        justify-content: center;
    }

    .booking-bar {
        background: rgba(0, 0, 0, 0.405);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    
        display: block;
    
        bottom: 10%;
      width: 100%;
        height: auto;
        border-radius: 15px;
     
    }

    .booking-item {
          
        
    }

    .booking-list {

        /* padding: 7px 40px; */
          padding-right: 10px;  

    }

    .booking-list-2 {

        /* padding: 7px 40px; 
        margin-top: 2px; */
          padding-right: 10px;  
    }

    .booking-list-3 {
        /* padding: 7px 40px; */
          padding-right: 10px;  
       
    }
    
    .logoimg2 {
         
        /* margin-bottom: 7px;
        height: 20px;
        width: 25px; */
    }


    .icon1 {
        
    
        
    
        /* height: 2px; */
    }

 
    .icon2 {
        
        /* margin-top: 4px; */
      
    }

    .book-btn {
        
        /* padding: 8px 46px;
        margin-left: 7px; */
    }


}

.cn3{
/* background: radial-gradient(circle, #FFFFFF 0%, #F9F5EF 100%); */

/* background-color: #EDEFF1; */
/* background-color: #F7F9F4; */
/* background-color: #F7F4EF; */
/* background-color: #F2EEEA; */
/* background-color: #EEF2F4   ; */

 height: 800px;

}

