
/* :start */

.menu-bar {

    height: 600px;
    width: 20%;
    margin-top: 5px
}

.nav-color {

    background-color: transparent;

}

.nav-color:hover {

    background-color: #f7f4e5;
    transition: 0.4s ease;
}

.nav-color:hover::after {

   color: white;
}

a {

    text-decoration: none !important;
    color: inherit !important;
}
/* 
.left-item{


    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
} */



.logoimg {
    height: 70px;
    width: 90px;
  
}

.logoimg:hover {

    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
    transform: scale(1.05);
}

.bt-book {

    background-color: #ad2132;

    color: white;
    border: 0;
    padding: 10px 30px 10px 30px;

}


.d1 {

    position: absolute;
    left: 280%;

}


.cn1 {

    position: relative;
  background-image: url("/images/hotels/hotel4img.jpg");
    /* background-image: url("/images/hotels/hotel3.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    background-position: center;

    height: 100vh;


}

.cn2 {

    position: absolute;
    left: 8.5%;
    bottom: 4%;


}


.booking-bar {
    background: rgba(169, 165, 152, 0.208);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    padding: 15px;


}

.booking-item {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
       padding-right :10px;

}

.logoimg2 {


    height: 28px;
    width: 29px;

}

.booking-list {
    
    padding: 10px 5px;
    border: none;
    background: transparent;
    font-size: 15px;
    color: #e9e2e2;
    /* black text */
    outline: none;
    font-weight: 600;
     padding-right :90px;

}

.booking-list-2 {
    padding: 10px 5px;
    border: none;
    background: transparent;
    font-size: 15px;
    color: #e9e2e2;
    /* black text */
    outline: none;
    font-weight: 600;
     padding-right :90px;
    
}

.booking-list-3 {
    padding: 10px 5px;
    border: none;
    background: transparent;
    font-size: 15px;
    color: #e9e2e2;
    /* black text */
    outline: none;
    font-weight: 600;
     padding-right :90px;
}

.booking-list-4 {
    padding: 10px 10px;
    border: none;
    background: transparent;
    font-size: 15px;
    color: #e9e2e2;
    /* black text */
    outline: none;
    font-weight: 600;
     padding-right :60px;
}


.book-btn {
    padding: 10px 46px;
    border-radius: 6px;
    border: 0;
    background-color: #817064c6;
    color: #e9e2e2;

}



.list-box-1 {
   display: flex;
   
}





.cn3{
/* background: radial-gradient(circle, #FFFFFF 0%, #F9F5EF 100%); */

/* background-color: #EDEFF1; */
/* background-color: #F7F9F4; */
/* background-color: #F7F4EF; */
background-color: #f5f3f0;
/* background-color: #EEF2F4   ; */


}


.lux-heading {
    text-align: center;
    padding: 40px 0;
    font-family: "Times New Roman", serif;
}

.lux-heading h1 {
    font-size: 36px;
    font-weight: 400;
    color: #3e4550;
    margin-bottom: 20px;
}

.lux-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;  
}

.hrimg{
   
    width: 60%;
    height: 50px;
}

.lux-heading2{

  font-size: 1.9rem;
  font-family: sans-serif;
  font-weight: 100;
  color: #00000089 ;

}

.Manaliimg{

 width: 100%;
  height: 400px;
  object-fit: cover;

}


.card-img{
       width: 100%;
  height: 400px;
  overflow: hidden;
}
.card-body .p1{

    font-size: 1.3rem;

}

.card-img{

border-radius: 0 !important;

   
}


.card-body{

border-left: 1px solid #B9A47B;
  border-right: 1px solid #B9A47B;
  border-bottom: 1px solid #B9A47B;
  margin: 0;
    font-family: serif; /* Use an elegant font */
    color: #4C4B4A;

   
}

/* .cn4{

    margin-top: 120px;
  height: 700px;
background-image: url("/images/hotels/offer3.jpeg");
background-size: cover;
background-repeat: no-repeat;       
object-fit: cover;
background-position: center;
    
} */

.cn4 {
    margin-top: 120px;
    height: 800px;
    background-image: url("/images/hotels/offer3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; /* IMPORTANT */
    overflow: hidden;
}

/* Dark overlay */
.cn4::before {
 content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);  /* increase this to 0.40–0.45 to make more dull */
    z-index: 1; /* overlay above image */
}

.offers{

  position: relative;
    z-index: 2; /* text ABOVE overlay */
    margin-top: 60px;
}


.offers p {

   position: relative;
    z-index: 2; /* text ABOVE overlay */
    font-size: 4rem;
    color: white;
    font-weight: 300;
    margin-bottom: 0;
}

.offers .p2{
      
    font-size: 1.7rem;
    
}
.btn-explore{


margin-top: 490px;
  
    padding: 6px 43px 8px 43px ;
    color: rgb(173, 33, 50);
    font-size: 1.4rem;
    font-weight: 400;
    background-color:#d5d6d7;
      border: 0;
    z-index: 2; /* text ABOVE overlay */

}








     /* responisve */

@media only screen and (max-width:768px) {
    .logoimg {
        width: 60px;
        height: auto;
        /* margin-left: 60px; */
    }

    .cn1 {
       /* background-image: url("/images/hotels/hotel3.jpg"); */
       background-image: url("/images/hotels/hotel4img.jpg");
        height: 90vh;
    }

    .bt-book {

        padding: 5px 10px;
        height: auto;
    }
 
    .icon-bar{

        width: 31px;
        height: 31px;
    }
    .right-item{
    
      width: auto;
      height: auto;
    }
    .signup {
        display: none;
        width: 10px;
        height: auto;
        font-size: 0.9rem;

    }

     /* booking bar */
    .cn2 {

        position: absolute;
        height: auto;
        width: 96%;
   
        top: 99%;
     
    }

    .booking-bar {
        background: rgba(0, 0, 0, 0.405);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
     
    
        display: block;
        width: 90% ;
        height: auto;
        border-radius: 15px;
     
    }


    .booking-list {

        /* padding: 7px 40px; */
          padding-right: 50px;  

    }

    .booking-list-2 {

        /* padding: 7px 40px; 
        margin-top: 2px; */
          padding-right: 10px;  
    }

    .booking-list-3 {
        /* padding: 7px 40px; */
          padding-right: 26px;  
       
    }
    
 
   .Manaliimg{

 width: 100%;
  height: 400px;
  object-fit: cover;

}





.ourhotels{

    margin-top: 120px;

}

.hrimg{
   
    width: 100%;
    height: 35px;
    margin-top: 0;
    margin-bottom: 0;
  
    

}

.lux-heading2{

  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 100;
  color: #00000089 ;
  
  
}



.slider{

   width: auto;
   height: auto;

}

.card{

    /* width:  900px !important;
    height: 400px    !important; */
}


.offers{


    margin-top: 30px;
}

.offers p{

    font-size: 2.8rem;
}

.offers  .p2{

font-size: 1.2rem;
width: 100%;

}

}





